<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590648528046-q2sgsc7mld9spqmbb1c8b613cen33uij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590648528046-q2sgsc7mld9spqmbb1c8b613cen33uij</string>
	<key>API_KEY</key>
	<string>AIzaSyBuQON0GEErGg4ht4rV5NFYSk2BznL5UqY</string>
	<key>GCM_SENDER_ID</key>
	<string>590648528046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firebase-test</string>
	<key>PROJECT_ID</key>
	<string>kapzertest</string>
	<key>STORAGE_BUCKET</key>
	<string>kapzertest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590648528046:ios:4f2a1fc586511f3fdff13f</string>
</dict>
</plist>